* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url('bg.jpeg');
    background-position: bottom 20px right 20px;
    background-repeat: no-repeat;
    background-color: black;
}

input {
    text-align: center;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    margin : 8px;
}

.data {
    background-color: #000000;
    border: 2px solid grey;
    border-radius: 5px;
    color : white;
    text-shadow: 0px 0px 3px white, 0 0 1rem white;
}

.data:focus {
    outline: none;
    border: 2px solid white;
}

.btn {
    background-color: transparent;
    border: 6px solid transparent;
    color: #48ff00;
    cursor: pointer;
    border-radius: 15px;
    border: 6px solid #48ff00;
    border-style: double;
    text-transform: uppercase;
}

.btn:hover {
    filter: drop-shadow(0 0 15px #48ff00) drop-shadow(0 0 50px #48ff00) contrast(2) brightness(2);
}

.flash {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

h1 {
    filter : drop-shadow(0 0 15px #ffffff) contrast(1) brightness(1);
    color : #ffffff;
    text-decoration-line: underline;
    font-size: 50px;
}