* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    filter : drop-shadow(0 0 15px #ffffff) drop-shadow(0 0 50px #ffffff) contrast(2) brightness(2);
    color : #ffffff;
    margin-top : 40px;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.ko {
    filter : drop-shadow(0 0 15px red) drop-shadow(0 0 50px red) contrast(2) brightness(2);
    color : red;
}

h2 {
    filter : drop-shadow(0 0 15px #ffffff) drop-shadow(0 0 50px #ffffff) contrast(2) brightness(2);
    color : #ffffff;
    margin-top : 20px;
}

h3 {
    filter : drop-shadow(0 0 15px #ff00bf) drop-shadow(0 0 50px #ff00bf) contrast(2) brightness(2);
    color : #ff00bf;
    margin-top : 10px;
}

#result h1 {
    text-align: center;
}

body {
    color : white;
    background-color: black;
}

#search {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item {
    height: 200px;
    margin: 10px
}

#show {
    display: flex;
    justify-content: space-around;
}

#desc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#desc h3 {
    margin-bottom: 5px;
}

#game_header {
    background-color: yellowgreen;
    background-color: black;
}

#game {
    padding :0px;
    display: flex;
    justify-content: center;
}

#logo {
    width:554px;
    height:186px;
    background:black url(pacman10-hp.png) 0 0 no-repeat;
    position:relative;
    margin-bottom:9px;
}

#insert_coin_div {
    color : red;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#insert_coin {
    background-color: transparent;
    border : 6px solid transparent;
    color : #001aff;
    border-radius :15px;
    padding : 15px 25px;
    cursor : pointer;
    font-weight : bold;
    border : 6px solid #001aff;
    border-style : double;
    text-transform: uppercase;
}

#insert_coin:hover {
    filter : drop-shadow(0 0 15px #001aff) drop-shadow(0 0 50px #001aff) contrast(2) brightness(2);
}

.retro_btn {
    background-color: transparent;
    border : 6px solid transparent;
    color : #001aff;
    border-radius :15px;
    padding : 15px 25px;
    cursor : pointer;
    font-weight : bold;
    border : 6px solid #001aff;
    border-style : double;
    text-transform: uppercase;
}

.retro_btn:hover {
    filter : drop-shadow(0 0 15px #001aff) drop-shadow(0 0 50px #001aff) contrast(2) brightness(2);
}

.large {
    margin : 15px;
    width : 100%;
}
