<!doctype html>
<html onmousemove="google&&google.fade&&google.fade(event)">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Web MIR</title>
    <link rel="stylesheet" href="static/style.css"> 

    <script>
        window.google = {
            kEI: "",
            kEXPI: "",
            kCSI: {
                e: "",
                ei: "",
                expi: ""
            },
            ml: function () {},
            kHL: "en",
            time: function () {
                return (new Date).getTime()
            },
            log: function (b, d, c) {
                var a = new Image,
                    e = google,
                    g = e.lc,
                    f = e.li;
                a.onerror = (a.onload = (a.onabort = function () {
                    delete g[f]
                }));
                g[f] = a;
                c = c || "/gen_204?atyp=i&ct=" + b + "&cad=" + d + "&zx=" + google.time();
                a.src = c;
                e.li = f + 1
            },
            lc: [],
            li: 0,
            Toolbelt: {}
        };
        window.google.sn = "webhp";
        window.google.timers = {
            load: {
                t: {
                    start: (new Date).getTime()
                }
            }
        };
        try {
            window.google.pt = window.chrome && window.chrome.csi && Math.floor(window.chrome.csi().pageT);
        } catch (u) {}
        window.google.jsrt_kill = 1;
        var _gjwl = location;
  
        function _gjuc() {
            var b = _gjwl.href.indexOf("#");
            if (b >= 0) {
                var a = _gjwl.href.substring(b + 1);
                if (/(^|&)q=/.test(a) && a.indexOf("#") == -1 && !/(^|&)cad=h($|&)/.test(a)) {
                    _gjwl.replace("/search?" + a.replace(/(^|&)fp=[^&]*/g, "") + "&cad=h");
                    return 1
                }
            }
            return 0
        }
        function _gjp() {
            !(window._gjwl.hash && window._gjuc()) && setTimeout(_gjp, 500)
        };
        window._gjp && _gjp()
      </script>
    
    <script>
      google.y = {};
      google.x = function (e, g) {
          google.y[e.id] = [e, g];
          return false
      };
      if (!window.google) window.google = {};
      window.google.crm = {};
      window.google.cri = 0;
      window.clk = function (e, f, g, k, l, b, m) {
          if (document.images) {
              var a = encodeURIComponent || escape,
                  c = new Image,
                  h = window.google.cri++;
              window.google.crm[h] = c;
              c.onerror = (c.onload = (c.onabort = function () {
                  delete window.google.crm[h]
              }));
              if (b && b.substring(0, 6) != "&sig2=") b = "&sig2=" + b;
              c.src = ["/url?sa=T", "", f ? "&oi=" + a(f) : "", g ? "&cad=" + a(g) : "", "&ct=", a(k || "res"), "&cd=", a(l), "&ved=", a(m), e ? "&url=" + a(e.replace(/#.*/, "")).replace(/\+/g, "%2B") : "", "&ei=", "Ppf3S55bm578BsjS1a4K", b].join("")
          }
          return true
      };
      window.gbar = {
          qs: function () {},
          tg: function (e) {
              var o = {
                  id: 'gbar'
              };
              for (i in e) o[i] = e[i];
              google.x(o, function () {
                  gbar.tg(o)
              })
          }
      };
    </script>

  </head>

  <body>
    <!-- Header for Pacman Game -->
    <div id = game_header>
      <div id = game>
        <div id=logo>
          <div id=logo-l>
            <div id=logo-b></div>
          </div>
        </div>
        <script>
          google.pml = function () {
              function d(a) {
                  if (!google.pml_installed) {
                      google.pml_installed = true;
                      if (!a) {
                          document.getElementById("logo").style.background = "black";
                          window.setTimeout(function () {
                              var b = document.getElementById("logo-l");
                              if (b) b.style.display = "block"
                          }, 400)
                      }
                      a = document.createElement("script");
                      a.type = "text/javascript";
                      a.src = "../static/pacman.js";
                      google.dom.append(a)
                  }
              }
              function e() {
                  if (document.f && document.f.btnI) document.f.btnI.onclick = function () {
                      if (typeof google.pacman != "undefined") google.pacman.insertCoin();
                      else {
                          google.pacManSound = true;
                          d(false)
                      }
                      return false
                  }
              }
              if (!google.pml_loaded) {
                  google.pml_loaded = true;
                  window.setTimeout(function () {
                      document.f && document.f.q && document.f.q.value == "" && d(true)
                  }, 1E4);
                  e();
                  google.rein && google.rein.push(e);
                  google.dstr && google.dstr.push(function () {
                      google.pacman && google.pacman.destroy();
                      if (google.pml_installed) {
                          for (var a = (document.getElementById("xjsc") || document.body).getElementsByTagName("script"), b = 0, c; c = a[b++];) c.src.indexOf("/logos/js") != -1 && google.dom.remove(c);
                          google.pml_installed = false
                      }
                  });
                  google.pacManQuery = function () {
                      google.nav(document.getElementById("dlink").href)
                  }
              }
          };
        </script>
      </div>
      <form action="" name=f>
        <div id = insert_coin_div>
          <input name = btnI type = submit value = "Insert One or Two Coins" id = insert_coin>
        </div>
      </form>
      <div id=xjsi>
        <script>
          if (google.y) google.y.first = [];
          if (google.y) google.y.first = [];
          google.dstr = [];
          google.rein = [];
          window.setTimeout(function () {
              var a = document.createElement("script");
              a.src = "../static/google-script.js";
              (document.getElementById("xjsd") || document.body).appendChild(a);
              if (google.timers && google.timers.load.t) google.timers.load.t.xjsls = (new Date).getTime();
          }, 0);;
          google.neegg = 1;
          google.y.first.push(function () {
              google.ac.i(document.f, document.f.q, '', '', '', {
                  o: 1,
                  sw: 1
              });
              (function () {
                  var h, i, j = 1,
                      k = google.time(),
                      l = [];

                  function m(a, f) {
                      var b = [];
                      for (var c = 0, e; e = a[c++];) {
                          var d = document.getElementById(e);
                          d && b.push(d)
                      }
                      for (var c = 0, g; g = f[c++];) b = b.concat(n(g[0], g[1]));
                      for (var c = 0; b[c]; c++) b[c] = [b[c], "opacity", 0, 1, 0, ""];
                      return b
                  }
                  function n(a, f) {
                      var b = [],
                          c = new RegExp("(^|\\s)" + f + "($|\\s)");
                      for (var e = 0, d, g = document.getElementsByTagName(a); d =
                      g[e++];) c.test(d.className) && b.push(d);
                      return b
                  }
                  google.fade = function (a) {
                      if (google.fx && j) {
                          a = a || window.event;
                          var f = 1,
                              b = google.time() - k;
                          if (a && a.type == "mousemove") {
                              var c = a.clientX,
                                  e = a.clientY;
                              f = (h || i) && (h != c || i != e) && b > 600;
                              h = c;
                              i = e
                          }
                          if (f) {
                              j = 0;
                              google.fx.animate(600, m(["fctr", "ghead", "pmocntr", "sbl", "tba", "tbe"], [
                                  ["span", "fade"],
                                  ["div", "fade"],
                                  ["div", "gbh"]
                              ]));
                              for (var d = 0; d < l.length; ++d) if (typeof l[d] == "function") l[d]()
                          }
                      }
                  };
                  google.addFadeNotifier = function (a) {
                      l.push(a);
                      if (!j) a()
                  };
              })();;
              google.History && google.History.initialize('/webhp?hl\x3den')
          });
          if (google.j && google.j.en && google.j.xi) {
              window.setTimeout(google.j.xi, 0);
              google.fade = null;
          }
          google.pml && google.pml();
        </script>
      </div>    
      <script>
        (function () {
            var b, d, e, f;

            function g(a, c) {
                if (a.removeEventListener) {
                    a.removeEventListener("load", c, false);
                    a.removeEventListener("error", c, false)
                } else {
                    a.detachEvent("onload", c);
                    a.detachEvent("onerror", c)
                }
            }
            function h(a) {
                f = (new Date).getTime();
                ++d;
                a = a || window.event;
                var c = a.target || a.srcElement;
                g(c, h)
            }
            var i = document.getElementsByTagName("img");
            b = i.length;
            d = 0;
            for (var j = 0, k; j < b; ++j) {
                k = i[j];
                if (k.complete || typeof k.src != "string" || !k.src)++d;
                else if (k.addEventListener) {
                    k.addEventListener("load", h, false);
                    k.addEventListener("error", h, false)
                } else {
                    k.attachEvent("onload", h);
                    k.attachEvent("onerror", h)
                }
            }
            e = b - d;

            function l() {
                google.timers.load.t.ol = (new Date).getTime();
                google.timers.load.t.iml = f;
                google.kCSI.imc = d;
                google.kCSI.imn = b;
                google.kCSI.imp = e;
                google.report && google.report(google.timers.load, google.kCSI)
            }
            if (window.addEventListener) window.addEventListener("load", l, false);
            else if (window.attachEvent) window.attachEvent("onload", l);
            google.timers.load.t.prt = (f = (new Date).getTime());
        })();
      
        (function () {
            var b, d, e, f;

            function g(a, c) {
                if (a.removeEventListener) {
                    a.removeEventListener("load", c, false);
                    a.removeEventListener("error", c, false)
                } else {
                    a.detachEvent("onload", c);
                    a.detachEvent("onerror", c)
                }
            }
            function h(a) {
                f = (new Date).getTime();
                ++d;
                a = a || window.event;
                var c = a.target || a.srcElement;
                g(c, h)
            }
            var i = document.getElementsByTagName("img");
            b = i.length;
            d = 0;
            for (var j = 0, k; j < b; ++j) {
                k = i[j];
                if (k.complete || typeof k.src != "string" || !k.src)++d;
                else if (k.addEventListener) {
                    k.addEventListener("load", h, false);
                    k.addEventListener("error", h, false)
                } else {
                    k.attachEvent("onload", h);
                    k.attachEvent("onerror", h)
                }
            }
            e = b - d;

            function l() {
                google.timers.load.t.ol = (new Date).getTime();
                google.timers.load.t.iml = f;
                google.kCSI.imc = d;
                google.kCSI.imn = b;
                google.kCSI.imp = e;
                google.report && google.report(google.timers.load, google.kCSI)
            }
            if (window.addEventListener) window.addEventListener("load", l, false);
            else if (window.attachEvent) window.attachEvent("onload", l);
            google.timers.load.t.prt = (f = (new Date).getTime());
        })();
      </script>
    </div>

    <!-- Search Engine-->
    <div id = search>

        <!-- Column 1-->
        <div id = c1>
            <h1>Configuration</h1>

            <form method="POST">
                <legend>Select descriptors :</legend>
        
                <div>
                    <input type="checkbox" value="SIFT" name="SIFT" />
                    <label for="SIFT">SIFT</label>
                </div>
        
                <div>
                    <input type="checkbox" value="BGR" name="BGR"/>
                    <label for="BGR">BGR</label>
                </div>
        
                <div>
                    <input type="checkbox" value="GLCM" name="GLCM"/>
                    <label for="GLCM">GLCM</label>
                </div>
        
                <div>
                    <input type="checkbox" value="HOG" name="HOG" />
                    <label for="HOG">HOG</label>
                </div>
        
                <div>
                    <input type="checkbox" value="HSV" name="HSV" />
                    <label for="HSV">HSV</label>
                </div>
        
                <div>
                    <input type="checkbox" value="LBP" name="LBP" />
                    <label for="LBP">LBP</label>
                </div>
        
                <div>
                    <input type="checkbox" value="ORB" name="ORB" />
                    <label for="ORB">ORB</label>
                </div>
        
                <div>
                    <input type="checkbox" value="DL" name="DL" />
                    <label for="DL">Deep Learning</label>
                </div>

                <br>

                <legend>Select distance :</legend>
                <select name="distance" >
                    <option disabled selected value> -- Select -- </option>
                    <option>Euclidienne</option>
                    <option>Corrélation</option>
                    <option>Chi-square</option>
                    <option>Bhattcharyya</option>
                    <option>Brute Force Matcher</option>
                    <option>Flann</option>
                </select>

                <br>
                <br>

                <input class = retro_btn type="submit" name = 'form1'value="Submit"/>

                <br>
        
            </form>
        
            <h1>Test avec une nouvelle image</h1>

            <form method= "POST" enctype=multipart/form-data>
                <input type=file name=file>
                <input class = retro_btn type=submit name='form2' value="Submit">
            </form>
            
        
            <h1>Affichage</h1>
            <button type="button">Affichage top 20</button>

            <br>

            <button type="button">Affichage top 50</button>

            <br>

            <button type ="button">Affichage des métriques</button>

            <br/>
            <br/>

            </div>

        <!-- Column 2-->
        <div id = c2>
            <h1>Summary</h1>

            {% for k,v in cfg.items() if (v is not none and k != 'result') %}
                {{ v }}
                <br>
            {% endfor %}

            {% if cfg['img_url'] %}
                <img src = {{ cfg['img_url'] }} height="200" > 
            {%endif%}
        </div>
    </div>

    <!-- Results -->
    <div id = 'result'>
        <h1>Result</h1>

        </div class = grid>
            {% for v in cfg['result'] %}
                <img class = grid_img src = {{ v }}>
            {% endfor %}
        </div>


    </div>

  </body>
</html>
    
  
